body {
    font-family: 'Montserrat', sans-serif;
}

nav a:hover {
     font-size: 1.5rem;
       }
 nav a:hover:before {
        content: "";
     position: absolute;
     bottom: 0;
     left: 0;
     height: 2px;
     width: 0;
     transition: width 0.5s ease-in-out;
     width: 100%;


   }

 nav {
   background-color: #0F5298;
   position:absolute;
   content:"";
   top:0;
   bottom:0;
   height:200%;
   left:0;
   width:90px;
   overflow:hidden;
   transition: width 0.2s linear;
   box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);

 }
 .logo{
   text-align:center;
   display:flex;
   transition:all 0.5s ease;
   margin:10px 0 0 10px;
 }
 .logo img {
   width:45px;
   height:45px;
   border-radius:50%;

 }
 .logo span {
   font-weight:bold;
   padding-left:15px;
   font-size:18px;
   text-transform:uppercase;

 }
 nav a {
   position:relative;
   color: #fffcfc;
   font-size:18px;
   display:table;
   width:300px;
   padding:10px;
   transition: font-size 0.2s ease-in-out;
 }

 .fas{
   position:relative;
   width:70px;
   height:35px;
   font-size:20px;
   margin-left:15px;
   align-items:center;


 }
 .nav-item{
   position:relative;
   margin-left:10px;
   margin-top:15px;
 }

 nav:hover{
 width:250px;
 transition:all 0.5s ease;

 }
 .logout{
   position: absolute;
   bottom:15px;
   color: #fffcfc;
 }

 .logo2 {
  width:35px;
   height:35px;
   margin-left:19px;
   margin-top:30px;
   vertical-align:-10px;
 }

 a {
 text-decoration: none;
 color: #555;
}
/* Main Content */
.container {
  margin-left: 300px;
  padding: 2px 15px;
}

h2 {
  margin-top: 1%;
  margin-bottom: 0%;
  font-size: 1.7rem;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

li {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

li a {
  margin-left: 20%;
  color: #0f4c81;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
}

li a:hover {
  color: #fff;
  background-color: #1b5e20;
}

.list p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.list ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.list li {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

button {
  background-color: #0f4c81;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1b5e20;
}
