/* If you like this, please check my blog at codedgar.com.ve */
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
body{
font-family: 'Montserrat', sans-serif;
background: #00d2ff; 
background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff); 
background: linear-gradient(to right, #3a7bd5, #00d2ff); 
  /* Thanks to uigradients :) */
}

nav a:hover {
     font-size: 1.5rem;
       }
 nav a:hover:before {
        content: "";
     position: absolute;
     bottom: 0;
     left: 0;
     height: 2px;
     width: 0;
     transition: width 0.5s ease-in-out;
     width: 100%;


   }

 nav {
   background-color: #0F5298;
   position:absolute;
   content:"";
   top:0;
   bottom:0;
   height:200%;
   left:0;
   width:90px;
   overflow:hidden;
   transition: width 0.2s linear;
   box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);

 }
 .logo{
   text-align:center;
   display:flex;
   transition:all 0.5s ease;
   margin:10px 0 0 10px;
 }
 .logo img {
   width:45px;
   height:45px;
   border-radius:50%;

 }
 .logo span {
   font-weight:bold;
   padding-left:15px;
   font-size:18px;
   text-transform:uppercase;

 }
 nav a {
   position:relative;
   color: #fffcfc;
   font-size:18px;
   display:table;
   width:300px;
   padding:10px;
   transition: font-size 0.2s ease-in-out;
 }

 .fas{
   position:relative;
   width:70px;
   height:35px;
   font-size:20px;
   margin-left:15px;
   align-items:center;


 }
 .nav-item{
   position:relative;
   margin-left:10px;
   margin-top:15px;
 }

 nav:hover{
 width:250px;
 transition:all 0.5s ease;

 }
 .logout{
   position: absolute;
   bottom:15px;
   color: #fffcfc;
 }

 .logo2 {
  width:35px;
   height:35px;
   margin-left:19px;
   margin-top:30px;
   vertical-align:-10px;
 }

 a {
 text-decoration: none;
 color: #555;
}

.card{
  background:#16181a;  border-radius:14px; max-width: 300px; display:block; margin:auto;
  padding:60px; padding-left:20px; padding-right:20px;box-shadow: 2px 10px 40px black; z-index:99;
}

.logo-card{max-width:50px; margin-bottom:15px; margin-top: -19px;}

label{display:flex; font-size:10px; color:white; opacity:.4;}

input{font-family: 'Work Sans', sans-serif;background:transparent; border:none; border-bottom:1px solid transparent; color:#dbdce0; transition: border-bottom .4s;}
input:focus{border-bottom:1px solid #1abc9c; outline:none;}

.cardnumber{display:block; font-size:20px; margin-bottom:8px; }

.name{display:block; font-size:15px; max-width: 200px; float:left; margin-bottom:15px;}

.toleft{float:left;}
.ccv{width:50px; margin-top:-5px; font-size:15px;}

.receipt{background: #dbdce0; border-radius:4px; padding:5%; padding-top:200px; max-width:600px; display:block; margin:auto; margin-top:-180px; z-index:-999; position:relative;}

.col{width:50%; float:left;}
.bought-item{background:#f5f5f5; padding:2px;}
.bought-items{margin-top:-3px;}

.cost{color:#3a7bd5;}
.seller{color: #3a7bd5;}
.description{font-size: 13px;}
.price{font-size:12px;}
.comprobe{text-align:center;}
.proceed{position:absolute; transform:translate(300px, 10px); width:50px; height:50px; border-radius:50%; background:#1abc9c; border:none;color:white; transition: box-shadow .2s, transform .4s; cursor:pointer;}
.proceed:active{outline:none; }
.proceed:focus{outline:none;box-shadow: inset 0px 0px 5px white;}
.sendicon{filter:invert(100%); padding-top:2px;}

@media (max-width: 600px){
  .proceed{transform:translate(250px, 10px);}
  .col{display:block; margin:auto; width:100%; text-align:center;}
}