{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/friends.css' %}">
	<title>Friends | ExamBusters</title>
    <link rel="icon" href="{% static 'photos/sat111.jpeg' %}">
        <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@600&family=Montserrat&family=Oxygen&family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body>

        <nav>
            <a href="#" class="logo">
            {% if user_profile.profile_picture %}
                <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture">
            {% endif %}
            {% if user_profile.name %}
                <span class="nav-item" alt="">{{ user_profile.name }}</span>
            {% else %}
                <span class="nav-item" alt="">{{ request.user.username }}</span>
            {% endif %}
            </a>
            <a href="{% url 'myprofile' %}" ><img src="{% static 'photos/user.png' %}"  class="logo2" alt="">
            <i class="fas fa-profile"></i>
            <span class="nav-item">My Profile</span>
            </a>
            <a href="{% url 'store' %}"><img src="{% static 'photos/shop.png' %}"  class="logo2" alt="">
            <i class="fas fa-leaderboard "></i>
            <span class="nav-item">Store</span>
            </a>
            <a href="{% url 'leaderboard' %}" ><img src="{% static 'photos/podium.png' %}"  class="logo2" alt="">
            <i class="fas fa-leaderboard "></i>
            <span class="nav-item">Leaderboard</span>
            </a>
            <a href="{% url 'satverbal' %}"><img src="{% static 'photos/chat.png' %}"  class="logo2" alt="">
            <i class="fas fa-Verbal"></i>
            <span class="nav-item">SAT Verbal</span>
            </a>
            <a href="{% url 'satmath' %}"><img src="{% static 'photos/keys.png' %}"  class="logo2" alt="">
            <i class="fas fa-Math"></i>
            <span class="nav-item">SAT Math</span>
            </a>
            <a href="{% url 'friends_list' %}"><img src="{% static 'photos/friends.png' %}"  class="logo2" alt="">
            <i class="fas fa-friends"></i>
            <span class="nav-item">My Friends</span>
            </a>
            <a href="{% url 'payment' %}"><img src="{% static 'photos/payment.png' %}"  class="logo2" alt="">
            <i class="fas fa-chart-payment"></i>
            <span class="nav-item">Payment</span>
            </a>
            <a href="#"><img src="{% static 'photos/quest.png' %}"  class="logo2" alt="">
            <i class="fas fa-quests"></i>
            <span class="nav-item">Daily Quests</span>
            </a>
            <form method="post" action="{% url 'logoutsystem' %}">
                {% csrf_token %}
                <a href="#"><img src="{% static 'photos/logout.png' %}"  class="logo2" alt="">
                <i class="fas fa-sign-out-alt"></i>
                <button type="submit">Logout</button>
                </a>
            </form>
        </nav>
        <div class="container">
        <h1>Friend Requests</h1>
    <ul>
        {% for friend_request in friend_requests %}
            <li>{{ friend_request.user.username }} wants to be your friend! <a href="{% url 'accept_friend_request' friendship_id=friend_request.id %}">Accept</a></li>
        {% empty %}
            <li>No friend requests.</li>
        {% endfor %}
    </ul>

    <h1>Friends</h1>
    <ul>
        {% for friendship in friends %}
            {% if friendship.user == user %}
                <li>{{ friendship.friend.username }}</li>
            {% else %}
                <li>{{ friendship.user.username }}</li>
            {% endif %}
        {% empty %}
            <li>No friends yet.</li>
        {% endfor %}
    </ul>

    <h1>Add a Friend</h1>
    <form method="post">
        {% csrf_token %}
        <label for="friend_username">Friend's Username:</label>
        <input type="text" id="friend_username" name="friend_username">
        <button type="submit">Send Friend Request</button>
    </form>
</div>
</body>
</html>